
#namehead{
text-align:center;
color:white;
opacity:0.6;
font-size:17px;
}

#exdesc
{
margin-left:1.2em;

margin-top:6em;
font-size:20px;
padding-top:1em
margin-left:1.2em;
margin-right:1.5em;

}
#playvideo
{
margin:0 auto;
margin-top:2em;
margin-left:1.5em;
margin-right:1.5em;
}
.button1 {
  background-color: #ffffff;
  color:#000;
  text-decoration:none;
  margin-top: -85px;
  margin-left:9px;
  width:80px;
  text-align:center;
  opacity:0.7;
  posithion:fixed;
  padding-top:6px;
  padding-bottom:6px;
  position:fixed;
 
}